// 日期格式化
function formatDate(value, isWeekNeeded) {
  if(typeof value == "string"){
    value = getDate(value);
  }
  var year = value.getFullYear() + '年';
  var month = (value.getMonth() + 1) + '月';
  var date = value.getDate() + '日';
  if(isWeekNeeded){
    var week = ["星期日", "星期六", "星期五", "星期四", "星期三", "星期二", "星期一"];
    var day = week[value.getDay()];
    return year + month + date + '' + day;
  }
  else{
    return year + month + date;
  }
}

// 图片地址转换
function formatImageUrl(src, baseUrl) {
  if (getRegExp("^\w+:\/\/").test(src)) {
    // http:// 或 wxfile:// 等完整路径直接返回
    return src;
  }
  else if(src == "load_faild"){
    return "/images/faild.png";
  }
  else if(src){
    return baseUrl + "/api/files/images/" + src;
  }
  else{
    return "/images/empty.png";
  }
}

// 视频地址转换
function formatVideoUrl(src, baseUrl) {
  if(src){
    return baseUrl + "/api/files/videos/" + src;
  }
  else{
    return "/images/empty.png";
  }
}

// 文章图片模板
function getEmptyImageUrl(type) {
  var url = "https://www-steedos-com.oss-cn-beijing.aliyuncs.com/apps/vip/covers/"
  switch (type) {
    case "announcements":
      return url = url + "announcements.jpg";
      break;
    case "about":
      return url = url + "about.jpg";
      break;
    case "news":
      return url = url + "news.jpg";
      break;
    case "course":
      return url = url + "course.jpg";
      break;
    case "help":
      return url = url + "help.jpg";
      break;
    case "jobs":
      return url = url + "jobs.jpg";
      break;
  }
  return url;
}

function transformFieldValue(field, value){
  if(!value){
    return "";
  }

  if(field.type === 'select'){
    if(field.multiple){
      var val = [];
      field.options.forEach(function(_o){
        if (value.indexOf(_o.value) > -1) {
          val.push(_o.label)
        }
      })
      return val.join(",");
    }else{
      var val = '';
      field.options.forEach(function(_o){
        if (value === _o.value) {
          val = _o.label
        }
      })
      return val;
    }
  }else if(field.type === 'location'){
     return value.address
  }else if(field.type === 'lookup' && field.reference_to){
    return value.name
  }
  return value
}


module.exports = {
  datefmt: formatDate,
  formatImageUrl: formatImageUrl,
  formatVideoUrl: formatVideoUrl,
  getEmptyImageUrl:getEmptyImageUrl
  transformFieldValue: transformFieldValue
}
