// 日期格式化
function formatDate(value, isWeekNeeded) {
  if(typeof value == "string"){
    value = getDate(value);
  }
  var year = value.getFullYear() + '年';
  var month = (value.getMonth() + 1) + '月';
  var date = value.getDate() + '日';
  if(isWeekNeeded){
    var week = ["星期日", "星期六", "星期五", "星期四", "星期三", "星期二", "星期一"];
    var day = week[value.getDay()];
    return year + month + date + '' + day;
  }
  else{
    return year + month + date;
  }
}

// 图片地址转换
function formatImageUrl(src, baseUrl) {
  if(src){
    return baseUrl + "/api/files/images/" + src;
  }
  else{
    return "/images/faild.png";
  }
}

module.exports = {
  datefmt: formatDate,
  formatImageUrl: formatImageUrl
}